# Data obtention & processing

Get company stock data: Start a new Jupyter Notebook and copy the following codes one (line/part) by one, followed by press the keys Shift + Enter.

In [1]:
# Get company stock data
# This cell is only needed to be run once.

! pip install yahooquery

Requirement already satisfied: yahooquery in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: tqdm<5.0.0,>=4.65.0 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from yahooquery) (4.66.1)
Requirement already satisfied: lxml<5.0.0,>=4.9.3 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from yahooquery) (4.9.3)
Requirement already satisfied: requests-futures<2.0.0,>=1.0.1 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from yahooquery) (1.0.1)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from yahooquery) (2.31.0)
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from yahooquery) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from pandas<3.0.0,>=2.0.3->yahooquery) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from pandas<3.0.0,>=2.0.3->yahooquery) (1.26.1)
Requirement already satisfied: pytz>=2020.1 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from pandas<3.0.0,>=2.0.3->yahooquery) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from pandas<3.0.0,>=2.0.3->yahooquery) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.31.0->yahooquery) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.31.0->yahooquery) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.31.0->yahooquery) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.31.0->yahooquery) (3.3)
Requirement already satisfied: six>=1.5 in /Users/HectorEnc/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->yahooquery) (1.16.0)

### Data Visualization & more processing

As you might be related to python ways of visualizing & processing data, you can see how you can quickly and efficiently get company data i the time steps & scales you wish to work in

In [3]:
from yahooquery import Ticker  # Import the Ticker class

aapl = Ticker('aapl')

In [5]:
aapl.history()

                                        open        high         low  \
symbol date
aapl   2023-01-03                 130.279999  130.899994  124.169998
       2023-01-04                 126.889999  128.660004  125.080002
       2023-01-05                 127.129997  127.769997  124.760002
       2023-01-06                 126.010002  130.289993  124.889999
       2023-01-09                 130.470001  133.410004  129.889999
...                                      ...         ...         ...
       2023-10-24                 173.050003  173.669998  171.449997
       2023-10-25                 171.880005  173.059998  170.649994
       2023-10-26                 170.369995  171.380005  165.669998
       2023-10-27                 166.910004  168.960007  166.830002
       2023-10-30 12:25:09-04:00  169.020004  171.169998  168.869995

                                       close     volume    adjclose  dividends
symbol date
aapl   2023-01-03                 125.070000  112117500  124.538666        0.0
       2023-01-04                 126.360001   89113600  125.823189        0.0
       2023-01-05                 125.019997   80962700  124.488876        0.0
       2023-01-06                 129.619995   87754700  129.069321        0.0
       2023-01-09                 130.149994   70790800  129.597061        0.0
...                                      ...        ...         ...        ...
       2023-10-24                 173.440002   43816600  173.440002        0.0
       2023-10-25                 171.100006   57157000  171.100006        0.0
       2023-10-26                 166.889999   70625300  166.889999        0.0
       2023-10-27                 168.220001   58468600  168.220001        0.0
       2023-10-30 12:25:09-04:00  169.468597   22788207  169.468597        0.0

[208 rows x 7 columns]

If no arguments are provided, as above, default values will be supplied for both period and interval, which are ytd and 1d, respectively. Additional arguments you can provide to the method are start and end. Start and end dates can be either strings with a date format of yyyy-mm-dd or as a datetime.datetime object.

In [6]:
aapl.history(period='max')

                                        open        high         low  \
symbol date
aapl   1980-12-12                   0.128348    0.128906    0.128348
       1980-12-15                   0.122210    0.122210    0.121652
       1980-12-16                   0.113281    0.113281    0.112723
       1980-12-17                   0.115513    0.116071    0.115513
       1980-12-18                   0.118862    0.119420    0.118862
...                                      ...         ...         ...
       2023-10-24                 173.050003  173.669998  171.449997
       2023-10-25                 171.880005  173.059998  170.649994
       2023-10-26                 170.369995  171.380005  165.669998
       2023-10-27                 166.910004  168.960007  166.830002
       2023-10-30 12:33:06-04:00  169.020004  171.169998  168.869995

                                       close     volume    adjclose  \
symbol date
aapl   1980-12-12                   0.128348  469033600    0.099450
       1980-12-15                   0.121652  175884800    0.094261
       1980-12-16                   0.112723  105728000    0.087343
       1980-12-17                   0.115513   86441600    0.089504
       1980-12-18                   0.118862   73449600    0.092099
...                                      ...        ...         ...
       2023-10-24                 173.440002   43816600  173.440002
       2023-10-25                 171.100006   57157000  171.100006
       2023-10-26                 166.889999   70625300  166.889999
       2023-10-27                 168.220001   58468600  168.220001
       2023-10-30 12:33:06-04:00  169.389893   23339066  169.389893

                                  dividends  splits
symbol date
aapl   1980-12-12                       0.0     0.0
       1980-12-15                       0.0     0.0
       1980-12-16                       0.0     0.0
       1980-12-17                       0.0     0.0
       1980-12-18                       0.0     0.0
...                                     ...     ...
       2023-10-24                       0.0     0.0
       2023-10-25                       0.0     0.0
       2023-10-26                       0.0     0.0
       2023-10-27                       0.0     0.0
       2023-10-30 12:33:06-04:00        0.0     0.0

[10811 rows x 8 columns]

In [8]:
aapl.history(start='2019-05-01')  # Default end date is now

# Period options = 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max
# Interval options = 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

                                        open        high         low  \
symbol date
aapl   2019-05-01                  52.470001   53.827499   52.307499
       2019-05-02                  52.459999   53.162498   52.032501
       2019-05-03                  52.722500   52.959999   52.557499
       2019-05-06                  51.072498   52.209999   50.875000
       2019-05-07                  51.470001   51.855000   50.207500
...                                      ...         ...         ...
       2023-10-24                 173.050003  173.669998  171.449997
       2023-10-25                 171.880005  173.059998  170.649994
       2023-10-26                 170.369995  171.380005  165.669998
       2023-10-27                 166.910004  168.960007  166.830002
       2023-10-30 12:34:56-04:00  169.020004  171.169998  168.869995

                                       close     volume    adjclose  \
symbol date
aapl   2019-05-01                  52.630001  259309200   50.798336
       2019-05-02                  52.287498  127985200   50.467747
       2019-05-03                  52.937500   83569600   51.095135
       2019-05-06                  52.119999  129772400   50.306080
       2019-05-07                  50.715000  155054800   48.949982
...                                      ...        ...         ...
       2023-10-24                 173.440002   43816600  173.440002
       2023-10-25                 171.100006   57157000  171.100006
       2023-10-26                 166.889999   70625300  166.889999
       2023-10-27                 168.220001   58468600  168.220001
       2023-10-30 12:34:56-04:00  169.550003   23430410  169.550003

                                  dividends  splits
symbol date
aapl   2019-05-01                       0.0     0.0
       2019-05-02                       0.0     0.0
       2019-05-03                       0.0     0.0
       2019-05-06                       0.0     0.0
       2019-05-07                       0.0     0.0
...                                     ...     ...
       2023-10-24                       0.0     0.0
       2023-10-25                       0.0     0.0
       2023-10-26                       0.0     0.0
       2023-10-27                       0.0     0.0
       2023-10-30 12:34:56-04:00        0.0     0.0

[1134 rows x 8 columns]

In [9]:
df=aapl.history(start='2009-05-01', end='2018-12-31') 
df

                        open       high        low      close     volume  \
symbol date
aapl   2009-05-01   4.492857   4.569643   4.492857   4.544286  397516000
       2009-05-04   4.580000   4.723214   4.560000   4.716786  609358400
       2009-05-05   4.705357   4.745000   4.682857   4.739643  398255200
       2009-05-06   4.761786   4.767857   4.650714   4.732143  473538800
       2009-05-07   4.726071   4.728214   4.567857   4.609286  531776000
...                      ...        ...        ...        ...        ...
       2018-12-21  39.215000  39.540001  37.407501  37.682499  382978400
       2018-12-24  37.037498  37.887501  36.647499  36.707500  148676800
       2018-12-26  37.075001  39.307499  36.680000  39.292500  234330000
       2018-12-27  38.959999  39.192501  37.517502  39.037498  212468400
       2018-12-28  39.375000  39.630001  38.637501  39.057499  169165600

                    adjclose  dividends  splits
symbol date
aapl   2009-05-01   3.857174        0.0     0.0
       2009-05-04   4.003592        0.0     0.0
       2009-05-05   4.022993        0.0     0.0
       2009-05-06   4.016626        0.0     0.0
       2009-05-07   3.912345        0.0     0.0
...                      ...        ...     ...
       2018-12-21  36.215721        0.0     0.0
       2018-12-24  35.278679        0.0     0.0
       2018-12-26  37.763062        0.0     0.0
       2018-12-27  37.517979        0.0     0.0
       2018-12-28  37.537205        0.0     0.0

[2433 rows x 8 columns]

In [10]:
# Save data in memory to disk

df.to_csv('Data_Stock_Date.csv')
df.to_csv('Data_Stock_No_Date.csv', index=False)

In [11]:
# read data from disk to memory

import pandas as pd
df = pd.read_csv('Data_Stock_Date.csv')
df

,symbol,date,open,high,low,close,volume,adjclose,dividends,splits
0,aapl,2009-05-01,4.492857,4.569643,4.492857,4.544286,397516000,3.857174,0.0,0.0
1,aapl,2009-05-04,4.580000,4.723214,4.560000,4.716786,609358400,4.003592,0.0,0.0
2,aapl,2009-05-05,4.705357,4.745000,4.682857,4.739643,398255200,4.022993,0.0,0.0
3,aapl,2009-05-06,4.761786,4.767857,4.650714,4.732143,473538800,4.016626,0.0,0.0
4,aapl,2009-05-07,4.726071,4.728214,4.567857,4.609286,531776000,3.912345,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2428,aapl,2018-12-21,39.215000,39.540001,37.407501,37.682499,382978400,36.215721,0.0,0.0
2429,aapl,2018-12-24,37.037498,37.887501,36.647499,36.707500,148676800,35.278679,0.0,0.0
2430,aapl,2018-12-26,37.075001,39.307499,36.680000,39.292500,234330000,37.763062,0.0,0.0
2431,aapl,2018-12-27,38.959999,39.192501,37.517502,39.037498,212468400,37.517979,0.0,0.0
2432,aapl,2018-12-28,39.375000,39.630001,38.637501,39.057499,169165600,37.537205,0.0,0.0

In [12]:
df = pd.read_csv('Data_Stock_No_Date.csv')
df

,open,high,low,close,volume,adjclose,dividends,splits
0,4.492857,4.569643,4.492857,4.544286,397516000,3.857174,0.0,0.0
1,4.580000,4.723214,4.560000,4.716786,609358400,4.003592,0.0,0.0
2,4.705357,4.745000,4.682857,4.739643,398255200,4.022993,0.0,0.0
3,4.761786,4.767857,4.650714,4.732143,473538800,4.016626,0.0,0.0
4,4.726071,4.728214,4.567857,4.609286,531776000,3.912345,0.0,0.0
...,...,...,...,...,...,...,...,...
2428,39.215000,39.540001,37.407501,37.682499,382978400,36.215721,0.0,0.0
2429,37.037498,37.887501,36.647499,36.707500,148676800,35.278679,0.0,0.0
2430,37.075001,39.307499,36.680000,39.292500,234330000,37.763062,0.0,0.0
2431,38.959999,39.192501,37.517502,39.037498,212468400,37.517979,0.0,0.0
2432,39.375000,39.630001,38.637501,39.057499,169165600,37.537205,0.0,0.0

In [13]:
aapl.esg_scores

{'aapl': {'maxAge': 86400,
  'totalEsg': 16.68,
  'environmentScore': 0.65,
  'socialScore': 6.86,
  'governanceScore': 9.18,
  'ratingYear': 2022,
  'ratingMonth': 8,
  'highestControversy': 3.0,
  'peerCount': 55,
  'esgPerformance': 'UNDER_PERF',
  'peerGroup': 'Technology Hardware',
  'relatedControversy': ['Social Supply Chain Incidents',
   'Customer Incidents',
   'Business Ethics Incidents'],
  'peerEsgScorePerformance': {'min': 5.97,
   'avg': 16.164727272727273,
   'max': 25.7},
  'peerGovernancePerformance': {'min': 3.45,
   'avg': 7.1781481481481455,
   'max': 11.5},
  'peerSocialPerformance': {'min': 2.24,
   'avg': 6.082037037037039,
   'max': 12.55},
  'peerEnvironmentPerformance': {'min': 0.03,
   'avg': 3.093703703703704,
   'max': 8.67},
  'peerHighestControversyPerformance': {'min': 0.0,
   'avg': 1.5454545454545454,
   'max': 4.0},
  'percentile': 14.68,
  'environmentPercentile': None,
  'socialPercentile': None,
  'governancePercentile': None,
  'adult': False,
  'alcoholic': False,
  'animalTesting': False,
  'catholic': False,
  'controversialWeapons': False,
  'smallArms': False,
  'furLeather': False,
  'gambling': False,
  'gmo': False,
  'militaryContract': False,
  'nuclear': False,
  'pesticides': False,
  'palmOil': False,
  'coal': False,
  'tobacco': False}}

In [14]:
aapl.key_stats

{'aapl': {'maxAge': 1,
  'priceHint': 2,
  'enterpriseValue': 2676788559872,
  'forwardPE': 27.379644,
  'profitMargins': 0.24681,
  'floatShares': 15616878002,
  'sharesOutstanding': 15634199552,
  'sharesShort': 93026130,
  'sharesShortPriorMonth': 107325921,
  'sharesShortPreviousMonthDate': '2023-09-15 01:00:00',
  'dateShortInterest': '2023-10-13 01:00:00',
  'sharesPercentSharesOut': 0.006,
  'heldPercentInsiders': 0.00071999995,
  'heldPercentInstitutions': 0.61317,
  'shortRatio': 1.6,
  'shortPercentOfFloat': 0.006,
  'beta': 1.308,
  'impliedSharesOutstanding': 15634199552,
  'category': None,
  'bookValue': 3.852,
  'priceToBook': 43.99792,
  'fundFamily': None,
  'legalType': None,
  'lastFiscalYearEnd': '2022-09-24 01:00:00',
  'nextFiscalYearEnd': '2023-09-24 01:00:00',
  'mostRecentQuarter': '2023-07-01 01:00:00',
  'earningsQuarterlyGrowth': 0.023,
  'netIncomeToCommon': 94760001536,
  'trailingEps': 5.96,
  'forwardEps': 6.19,
  'pegRatio': 4.33,
  'lastSplitFactor': '4:1',
  'lastSplitDate': '2020-08-31 01:00:00',
  'enterpriseToRevenue': 6.972,
  'enterpriseToEbitda': 21.594,
  '52WeekChange': 0.09703922,
  'SandP52WeekChange': 0.06337583,
  'lastDividendValue': 0.24,
  'lastDividendDate': 1691712000}}

In [15]:
aapl.summary_profile

{'aapl': {'address1': 'One Apple Park Way',
  'city': 'Cupertino',
  'state': 'CA',
  'zip': '95014',
  'country': 'United States',
  'phone': '408 996 1010',
  'website': 'https://www.apple.com',
  'industry': 'Consumer Electronics',
  'industryKey': 'consumer-electronics',
  'industryDisp': 'Consumer Electronics',
  'sector': 'Technology',
  'sectorKey': 'technology',
  'sectorDisp': 'Technology',
  'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
  'fullTimeEmployees': 164000,
  'companyOfficers': [],
  'maxAge': 86400}}

In [16]:
aapl.institution_ownership

            maxAge  reportDate                       organization  pctHeld  \
symbol row
aapl   0         1  2023-06-30                 Vanguard Group Inc   0.0834
       1         1  2023-06-30                     Blackrock Inc.   0.0665
       2         1  2023-06-30            Berkshire Hathaway, Inc   0.0586
       3         1  2023-06-30           State Street Corporation   0.0370
       4         1  2023-06-30                           FMR, LLC   0.0196
       5         1  2023-06-30      Geode Capital Management, LLC   0.0186
       6         1  2023-06-30      Price (T.Rowe) Associates Inc   0.0145
       7         1  2023-06-30                     Morgan Stanley   0.0131
       8         1  2022-12-31  Norges Bank Investment Management   0.0107
       9         1  2023-06-30         Northern Trust Corporation   0.0105

              position         value  pctChange
symbol row
aapl   0    1303688506  220936092703    -0.0047
       1    1039640859  176187937643     0.0045
       2     915560382  155160019055     0.0000
       3     578897858   98105820701     0.0045
       4     307066638   52038583516    -0.0140
       5     291538165   49406973178     0.0223
       6     226650943   38410535586    -0.0315
       7     204714950   34693042826     0.0204
       8     167374278   28364919096     1.0000
       9     164536073   27883928492    -0.0496

In [17]:
aapl.fund_ownership

            maxAge  reportDate  \
symbol row
aapl   0         1  2023-06-30
       1         1  2023-06-30
       2         1  2023-08-31
       3         1  2023-09-30
       4         1  2023-09-30
       5         1  2023-06-30
       6         1  2023-08-31
       7         1  2023-06-30
       8         1  2023-05-31
       9         1  2023-09-30

                                                 organization  pctHeld  \
symbol row
aapl   0               Vanguard Total Stock Market Index Fund   0.0298
       1                              Vanguard 500 Index Fund   0.0225
       2                              Fidelity 500 Index Fund   0.0108
       3                               SPDR S&P 500 ETF Trust   0.0106
       4                             iShares Core S&P 500 ETF   0.0089
       5                           Vanguard Growth Index Fund   0.0081
       6          Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF   0.0080
       7    Vanguard Institutional Index Fund-Institutiona...   0.0065
       8           Vanguard Information Technology Index Fund   0.0053
       9                   Select Sector SPDR Fund-Technology   0.0041

             position        value  pctChange
symbol row
aapl   0    465990265  78934090703     0.0015
       1    352024182  59629375974     0.0144
       2    169378703  28691058397     0.0177
       3    165192563  27981968145     0.0145
       4    138984763  23542628919     0.0051
       5    127130805  21534686981    -0.0067
       6    124293053  21054000171    -0.0484
       7    100926716  17095976361    -0.0224
       8     83046861  14067307734     0.1179
       9     64568089  10937188556     0.0560

### Furthering the financial metrics methods

The following methods take a frequency argument.  If nothing is provided, annual data will be returned.  To return quarterly data, pass "q" as an argument. These methods are also good to follow the financials of the company chosen in a summarized scale

In [18]:
aapl.balance_sheet()  # Defaults to Annual

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2020-09-30,12M,USD,4.229600e+10,1.612000e+10,-6.676000e+10,1.008870e+11,5.077900e+10,3.801600e+10,9.094300e+10,...,6.533900e+10,3.238880e+11,1.640060e+11,1.124360e+11,6.533900e+10,2.585490e+11,1.801750e+11,1.531570e+11,2.817000e+10,3.832100e+10
aapl,2021-09-30,12M,USD,5.476300e+10,2.627800e+10,-7.028300e+10,1.278770e+11,5.736500e+10,3.494000e+10,6.263900e+10,...,6.309000e+10,3.510020e+11,1.721960e+11,1.247190e+11,6.309000e+10,2.879120e+11,2.161660e+11,1.624310e+11,2.468900e+10,9.355000e+09
aapl,2022-09-30,12M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,6.484900e+10,2.364600e+10,4.830400e+10,...,5.067200e+10,3.527550e+11,1.496310e+11,1.200690e+11,5.067200e+10,3.020830e+11,2.173500e+11,1.481010e+11,1.665700e+10,-1.857700e+10

In [19]:
aapl.balance_sheet(frequency="q")

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2022-09-30,3M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,6.484900e+10,2.364600e+10,4.830400e+10,...,5.067200e+10,3.527550e+11,1.496310e+11,1.200690e+11,5.067200e+10,3.020830e+11,2.173500e+11,1.481010e+11,1.665700e+10,-1.857700e+10
aapl,2022-12-31,3M,USD,5.791800e+10,2.375200e+10,-6.804400e+10,NaN,6.639900e+10,2.053500e+10,5.135500e+10,...,5.672700e+10,3.467470e+11,1.563540e+11,1.111100e+11,5.672700e+10,2.900200e+11,2.179700e+11,1.527340e+11,NaN,-8.509000e+09
aapl,2023-03-31,3M,USD,4.294500e+10,1.793600e+10,-6.966800e+10,1.104610e+11,6.956800e+10,2.468700e+10,5.587200e+10,...,6.215800e+10,3.321600e+11,1.591990e+11,1.096150e+11,6.215800e+10,2.700020e+11,2.192470e+11,1.499270e+11,NaN,-7.162000e+09
aapl,2023-06-30,3M,USD,4.669900e+10,1.954900e+10,-7.078700e+10,1.040610e+11,7.066700e+10,2.840800e+10,6.248200e+10,...,6.027400e+10,3.350380e+11,1.583450e+11,1.092800e+11,6.027400e+10,2.747640e+11,2.123790e+11,1.498010e+11,NaN,-2.304000e+09

In [20]:
aapl.cash_flow()

,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowFromContinuingOperatingActivities,ChangeInAccountPayable,...,OtherNonCashItems,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,ShortTermDebtIssuance,ShortTermDebtPayments,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2020-09-30,12M,USD,5.022400e+10,-7.309000e+09,-1.408100e+10,-8.682000e+10,-4.289000e+09,8.067400e+10,-4.062000e+09,...,-9.700000e+07,-1.524000e+09,-1.151480e+11,-7.309000e+09,-1.359200e+10,-7.235800e+10,1.204830e+11,NaN,-963000000.0,6.829000e+09
aapl,2021-09-30,12M,USD,3.978900e+10,-1.108500e+10,-1.446700e+10,-9.335300e+10,-1.454500e+10,1.040380e+11,1.232600e+10,...,-1.470000e+08,-3.300000e+07,-1.095580e+11,-1.108500e+10,-8.750000e+09,-8.597100e+10,1.064830e+11,NaN,NaN,7.906000e+09
aapl,2022-09-30,12M,USD,3.592900e+10,-1.070800e+10,-1.484100e+10,-1.107490e+11,-2.235400e+10,1.221510e+11,9.448000e+09,...,1.110000e+08,-3.060000e+08,-7.692300e+10,-1.070800e+10,-9.543000e+09,-8.940200e+10,6.736300e+10,3.955000e+09,NaN,9.038000e+09
aapl,2023-06-30,TTM,USD,2.886100e+10,-1.208500e+10,-1.497000e+10,-1.121290e+11,9.400000e+07,1.130720e+11,-1.234000e+09,...,-4.235000e+09,NaN,-2.770100e+10,-1.208500e+10,-1.394400e+10,-8.097500e+10,4.136700e+10,NaN,NaN,1.048600e+10

In [21]:
aapl.income_statement()

,asOfDate,periodType,currencyCode,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,EBIT,...,ReconciledCostOfRevenue,ReconciledDepreciation,ResearchAndDevelopment,SellingGeneralAndAdministration,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOperatingIncomeAsReported,TotalRevenue
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2020-09-30,12M,USD,1.735212e+10,3.31,1.695590e+11,1.752821e+10,3.28,5.741100e+10,6.628800e+10,...,1.695590e+11,1.105600e+10,1.875200e+10,1.991600e+10,0.0,9.680000e+09,0.144282,2.082270e+11,6.628800e+10,2.745150e+11
aapl,2021-09-30,12M,USD,1.670127e+10,5.67,2.129810e+11,1.686492e+10,5.61,9.468000e+10,1.089490e+11,...,2.129810e+11,1.128400e+10,2.191400e+10,2.197300e+10,0.0,1.452700e+10,0.133023,2.568680e+11,1.089490e+11,3.658170e+11
aapl,2022-09-30,12M,USD,1.621596e+10,6.15,2.235460e+11,1.632582e+10,6.11,9.980300e+10,1.194370e+11,...,2.235460e+11,1.110400e+10,2.625100e+10,2.509400e+10,0.0,1.930000e+10,0.162045,2.748910e+11,1.194370e+11,3.943280e+11
aapl,2023-06-30,TTM,USD,NaN,NaN,2.171170e+11,NaN,NaN,9.476000e+10,1.151530e+11,...,2.171170e+11,1.173100e+10,2.936900e+10,2.522100e+10,0.0,1.663500e+10,0.149333,2.717070e+11,1.122260e+11,3.839330e+11